.calendar-container {
  background-color: #fff3f2;
}

#side-menu {
  background-color: var(--pink);
  max-width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.side-nav {
  padding-top: 100px;
}

.side-nav li:hover {
  background-color: var(--light);
  border-right: 5px solid var(--brown);
  color: #551a8a;
}

.side-nav li {
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 15px 30px 15px 25px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.fas {
  display: inline-block;
  color: #551a8a;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  width: 30px;
  position: relative;
  top: 2px;
}

.fas:hover {
  color: var(--light);
}

header {
  display: flex;
  margin-left: 280px;
  padding: 20px;
  background-color: var(--white);
}

.search-area {
  width: 50vw;
}

.search-area .fas {
  color: var(--dark);
  display: inline-block;
}

input[type="text"] {
  background: transparent;
  border: none;
  width: 80%;
  font-size: 1.3rem;
  color: var(--brown);
  padding: 10px;
  font-weight: 100;
  outline: none;
  transition: all 0.5s ease-in-out;
}
input[type="text"]:focus,
textarea:focus,
input:active {
  outline: none;
  background: lightgray;
}

.user-field {
  display: inline-flex;
  margin-left: 40%;
  padding: 10px;
}

.user-field a {
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  height: 30px;
}

.span {
  display: inline-block;
  color: white;
  text-align: center;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 12px;
  padding: 0;
  position: relative;
  bottom: 35px;
}
.user-img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
}
/* CalenderList Section */

#content-area {
  margin-left: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.head h1 {
  color: var(--brown);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.head p {
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.col-md-4 {
  display: flex;
}
.cards {
  display: flex;
}
.cal-cards {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}

.cal-card {
  width: 33%;
  margin: 5px;
  background: var(--white);
  border-radius: 5px;
  padding-top: 12px;
  border: 2px solid black;
}

.cal-card.dash {
  background: url("https://www.cdc.gov/niosh/topics/ohsn/images/chart1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
}
.user-image {
  background: url("../images/hair-1.jpeg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  border-radius: 50%;
}

.user-name {
  font-size: 1rem;
  color: var(--brown);
  display: block;
  text-align: center;
  margin: 10px 0;
}

.user-title {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin-top: -20px;
  color: black;
  margin: 10px 0;
}

.wash {
  font-size: 0.8rem;
  display: inline-block;
  color: var(--brown);
}
.chemical {
  font-size: 0.8rem;
  display: inline-block;
  color: var(--brown);
}
/* Calendar Card  */
.calendar-card {
  margin-left: 250px;
  padding: 15px;
}

table {
  width: 100%;
}

thead {
  background: var(--pink);
}

th {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding: 20px 10px;
  color: var(--brown);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
tbody {
  background: var(--white);
  font-size: 1rem;
}
td {
  padding: 20px 10px;
  color: var(--brown);
  font-size: 0.8rem;
}
