.gallery-image {
  margin: auto;
  align-content: center;
  margin-left: 250px;
}
.gallery-image img {
  box-shadow: var(--light);
  padding: 5px;
}

.main-gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 2px solid var(--brown);
}

.gallery-label {
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
  padding: 5px;
}

.gallery-select {
  font-size: 15px;
}

.gallery-card {
  margin: auto;
}
