#Profile {
  /* background-color: var(--light); */
}

.profile-container {
  height: 80vh;
  display: grid;
  grid-template-rows: auto 200px;
  grid-template-areas: "profile-info" "profile-list";
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  /* max-height: 50vh; */
}

#profile-left {
  grid-area: left;
  box-sizing: border-box;
  padding: 10px;
}

.profile-header {
  display: flex;
  padding: 0.5rem;
  text-align: center;
}
h3 {
  margin-right: 5rem;
}

.images {
  margin-top: 30px;
  width: 25rem;
  border-radius: 5px;
  padding: 2px;
}

.profile-btn {
  width: 25rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--brown);
  border: 2px solid var(--brown);
}

.profile-btn:hover {
  color: var(--light);
  background: var(--brown);
}

#profile-right {
  grid-area: right;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  /* margin-top: 0.5rem; */
  max-height: 25vh;
  max-width: 40vw;
}

.profile-change {
  display: flex;
  justify-content: space-around;
}

.butpro {
  font-size: 20px;
  color: var(--brown);
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
  border: 1px solid var(--brown);
  background: transparent;
}

.profile-appt-title {
  background-color: var(--light);
}

.profile-ul {
  list-style-type: none;
  border: 2px solid var(--brown);
  height: 30vh;
  background: var(--light);
}

.profile-receipt {
  background-color: var(--brown);
  justify-content: center;
  padding: 2rem;
}

.profile-links {
  margin-top: 0.7rem;
}

.button {
  display: block;
  max-width: 20vw;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--brown);
  border: 2px solid var(--brown);
  text-decoration: none;
  font-size: 1.2rem;
  margin: auto;
}

.profile-list {
  background-color: white;
}

.profile-appointments {
  text-align: center;
  padding: 10px;
  background-color: var(--brown);
  color: var(--light);
  font-size: 20px;
  font-style: italic;
}
.appointment {
  border: 2px solid black;
  height: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
