@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --light: #fbf2c0;
  --brown: #48302a;
  --dark: #43281c;
  --peach: #c06e52;
  --pink: #f96f5d;
  --white: #f7f7ff;
  --blue: #23b5d3;
  --black: #070600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: 200px, auto;
  border: 2px solid black;
}
